.Toolbar {
    left: 0;
    top: 0;
    z-index: 90;
    position: fixed;
    height: 56px;
    background: #a14609;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}