.SideDrawer {
    top: 0;
    left: 0;
    position: fixed;
    width: 270px;
    max-width: 70%;
    height: 100%;
    z-index: 200;
    background: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform ease-out 0.3s;
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}
.Close {
    transform: translateX(-100%);
}

.Logo{
    height: 11%;
    margin-bottom: 32px;
}